.image{
    width: 300px;
    height: 250px;
}
.image-bg{
    background-color:rgb(252, 249, 249) ;
    text-align: center
}
.btn-regular{
   background-color: #eeecec;
    border-radius: 5px;
    padding: 5px 20px;
    
}