.image{
    width: 200px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    margin-left: 50px;
    margin-top: 10px;

}
.image-bg{
    background-color:rgb(252, 249, 249) ;
    text-align: center;
}
.btn-regular{
   background-color: #ece6e6;
    border-radius: 5px;
    padding: 5px 20px;
    
}